<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>EventSMS</title>
    <link rel="icon" href="https://www.materialui.co/materialIcons/notification/event_available_black_192x192.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="/assets/css/grid.css" /> 
</head>

<body>

    {{{ body }}}

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/app.js"></script>
</body>

</html>