<!DOCTYPE HTML>
<html>

<head>
	<a href="/">
		<title>EventSMS</title>
	</a>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css"/>
</head>

<body>
	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Header -->
		<header id="header" class="alt">
			<span id="user-welcome" class="logo">Welcome User!</span>

			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>
		<!-- Menu -->
		<nav id="menu">
			<ul class="links">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/signup">Signup</a>
				</li>
			</ul>
			<ul class="actions vertical">
				<li>
					<a href="/login" class="button fit">Log out</a>
				</li>
			</ul>
		</nav>
		<!-- Banner -->
		<!-- Main -->
		<hr>

		<div class="sidenav">
			<br>
			<br>

			<div id="image-input" class="major">
				<form>
					<div>
						<img id="profile-img" src="http://placehold.it/180" alt="User Image" style="width:200px" />
					</div>
					<div id="profile-input">
						<input type='file' onchange="readURL(this); this.style.visibility= 'hidden';" />
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#profile-img')
						.attr('src', e.target.result);
				};
				reader.readAsDataURL(input.files[0]);
			}
		}

	</script>
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/app.js"></script>

</body>

</html>