<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header" class="alt">
        <span id="user-welcome" class="logo">Welcome Username!</span>


        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>
    <!-- Menu -->
    <nav id="menu">
        <ul class="links">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/signup">Signup</a>
            </li>
        </ul>
        <ul class="actions vertical">
            <li>
                <a href="/login" class="button fit">Log out</a>
            </li>
        </ul>
    </nav>
    <hr>

    <div class="sidenav">
        <br>
        <br>

        <div id="image-input" class="major">
            <form>
                <div>
                    <img id="profile-img" src="http://placehold.it/180" alt="User Image" style="width:200px" />
                </div>
            </form>
        </div>
    </div>
    <div class="keywordButtons">
        <button type="button" data-event="hiking">Hiking</button>
    </div>
    <div class="eventInfo">

    </div>
</div>