<!DOCTYPE HTML>

<html>

<head>
    <a href="home.html">
        <title>EventSMS</title>
    </a>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../public/assets/css/main.css" />

</head>
<style>
    #main {
        padding-right: 50px;
        padding-left: 50px;
    }

    img {
        max-width: 180px;
        border-radius: 50%;
    }

    input[type=file] {
        padding: 10px;
        background: #2d2d2d;
    }
</style>

<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header -->
        <header id="header" class="alt">
            <a href="index.html" class="logo">
                <strong>Event</strong>
                <span>SMS</span>
            </a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>
        <!-- Menu -->
        <nav id="menu">
            <ul class="links">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="signup.html">Sign Up</a>
                </li>
            </ul>
            <ul class="actions vertical">
                <li>
                    <a href="login.html" class="button fit">Log In</a>
                </li>
            </ul>
        </nav>
        <!-- Banner -->

        <!-- Main -->
        <div id="main">
            <input type='file' onchange="readURL(this);" />
            <img id="blah" src="http://placehold.it/180" alt="your image" style="width:200px" />
        </div>
        <!-- Footer -->
        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <ul class="icons">
                    <li>
                        <a href="#" class="icon alt fa-twitter">
                            <span class="label">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon alt fa-facebook">
                            <span class="label">Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon alt fa-instagram">
                            <span class="label">Instagram</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon alt fa-github">
                            <span class="label">GitHub</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon alt fa-linkedin">
                            <span class="label">LinkedIn</span>
                        </a>
                    </li>
                </ul>
                <ul class="copyright">
                    <li>&copy; EventSMS</li>
                </ul>
            </div>
        </footer>
    </div>

    <script>
             function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <!-- Scripts -->
    <script src="../public/assets/js/jquery.min.js"></script>
    <script src="../public/assets/js/jquery.scrolly.min.js"></script>
    <script src="../public/assets/js/jquery.scrollex.min.js"></script>
    <script src="../public/assets/js/skel.min.js"></script>
    <script src="../public/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../public/assets/js/main.js"></script>
</body>

</html>