<!DOCTYPE HTML>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="icon" href="https://www.materialui.co/materialIcons/notification/event_available_black_192x192.png" type="image/gif"
        sizes="16x16">
</head>

<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header -->
        <header id="header" class="alt">
            <a href="/" class="logo">
                <strong>Event</strong>
                <span>SMS</span>
            </a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>
        <!-- Menu -->
        <nav id="menu">
            <ul class="links">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/signup">Signup</a>
                </li>
            </ul>
            <ul class="actions vertical">
                <li>
                    <a href="/login" class="button fit">Log In</a>
                </li>
            </ul>
        </nav>
        <!-- Main -->
        <div id="main-form">
            <div>
                <br>
                <h2 class="text-center">Sign Up</h2>
                <form class="login" id="user-profile">
                    <div class="form-group">
                        <label for="profile-input">Image (URL)
                        </label>
                        <input placeholder="Profile Image" type="text" class="form-control" id="profile-input">
                        <span class="error-form" id="profileimg_error_message"></span>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="name">Name
                        </label>
                        <input placeholder="Name" type="text" class="form-control" id="name">
                        <span class="error-form" id="username_error_message"></span>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="email-input">Email address</label>
                        <input type="email" class="form-control" id="email-input" placeholder="someone@example.com">
                        <span class="error-form" id="email_error_message"></span>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password-input">Password</label>
                        <input type="password" class="form-control" id="password-input" placeholder="Password">
                        <span class="error-form" id="password_error_message"></span>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="number-input">Phone Number</label>
                        <input type="tel" class="form-control" id="number-input" placeholder="555-555-5555">
                        <span class="error-form" id="phonenum_error_message"></span>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="fav-food">1. What is your favorite type of food?</label>
                        <input placeholder="Favorite Food" type="text" class="form-control" id="fav-food">
                        <span class="error-form" id="favfood_error_message"></span>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="event-types">2. What kind of events are you interested in?
                        </label>
                        <select id="event-types" name="event-type" class="form-control">
                            <option class="selectPh" value="" selected disabled hidden>Choose a category</option>
                            <span class="error-form" id="select_error_message"></span>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="zipcode">3. What's your zipcode?
                        </label>
                        <input placeholder="zipcode" type="text" class="form-control" id="zipcode">
                        <span class="error-form" id="zipcode_error_message"></span>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="radius">4. How far are you willing to travel for restaurants/events? (Up to 25miles)
                        </label>
                        <select id="radius" name="radius" class="form-control">
                            <option class="selectPh" value="" selected disabled hidden>Radius</option>
                            <span class="error-form" id="travel_error_message"></span>
                        </select>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <p>Or login
                    <a href="/login">here</a>
                </p>
                <br>
            </div>
        </div>
        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <ul class="icons">
                    <li>
                        <a href="#" class="icon alt fa-twitter">
                            <span class="label">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon alt fa-facebook">
                            <span class="label">Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon alt fa-instagram">
                            <span class="label">Instagram</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/davidlatuno/event-project" class="icon alt fa-github">
                            <span class="label">GitHub</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon alt fa-linkedin">
                            <span class="label">LinkedIn</span>
                        </a>
                    </li>
                </ul>
                <ul class="copyright">
                    <li>&copy; EventSMS</li>
                </ul>
            </div>
        </footer>
    </div>
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/form.js"></script>
</body>

</html>