*{
    box-sizing: border-box;
}


@media (max-width:1800px) and (min-width:769px) {
    #grid-container{
        display: grid;
        grid-template-columns: 280px auto;
        grid-template-rows: 1fr 3fr;
        grid-gap:15px;
    }
    #head-section{
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start:1;
        grid-row-end: 2;
    }
    #button-content{
        grid-column-start: 2;
        grid-column-end: -1;
        grid-row-start:2;
        grid-row-end: 3;
        margin-left:30px;
        
    }
    #main-content{
        grid-column-start: 2;
        grid-column-end: -1;
        grid-row-start:3;
        grid-row-end: -1;
    }
    #preference {
        max-width: 200px;
        margin-left: 10px;
        display: inline-block;
        margin-bottom: 30px;
        background-color: white;
        color: grey;
    }
    
    #newFoodPreference, #newEventType {
        margin-top: 10px;
    }
    
    select#event-type.form-control {
        width: 200px;
        margin-left: 10px;
        display: inline-block;
    }
    .events{
        margin: 0px 30px 0px 20px;
    }
   
    .sb {
        margin-bottom: 30px;
        display: inline;
    }

    #preference {
        max-width: 200px;
        margin-left: 10px;
        display: inline;
        margin-bottom: 30px;
        background-color: white;
        color: grey;
    }

    #newFoodPreference, #newEventType {
        margin-top: 10px;
    }

    select#event-type.form-control {
        width: 200px;
        margin-left: 10px;
        display: inline;
    }
    
}

@media (max-width:768px) and (min-width:621px) {
    #grid-container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 5fr 3fr auto;
        grid-gap:10px;
    }
    #head-section{
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start:1;
        grid-row-end: 2;
    }
   hr{
       display: none;
   }
    .sidenav {
        position: static;
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start:1;
        grid-row-end:3;
        height: 220px;
        width: 100%;
        border-bottom: 5px solid white;
               
    }
   
    .form-group{
      
        display: inline-block;
        
    }
    #button-content{
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start:3;
        grid-row-end: 4;
        margin: 0px 10px 20px 10px;
                
    }
  
    #main-content{
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start:5;
        grid-row-end: auto;
    }
    .events{
        margin: 0px 20px 0px 20px;
    }
}


@media (max-width:620px) and (min-width:491px) {
   #grid-container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 6fr 3fr auto;
        grid-gap:10px;
    }
    #head-section{
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start:1;
        grid-row-end: 2;
    }
   hr{
       display: none;
   }
    .sidenav {
        position: static;
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start:1;
        grid-row-end:3;
        height: 220px;
        width: 100%;
        border-bottom: 5px solid white;
               
    }
    
    .form-group{
       
        display:block;
        float:left;
        
    }
   
    #button-content{
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start:3;
        grid-row-end: 4;
        margin: 0px 10px 20px 10px;
                
    }
  
    #main-content{
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start:5;
        grid-row-end: auto;
    }
    .events{
        margin: 0px 20px 0px 20px;
    }
} 

@media (max-width:490px) and (min-width:391px) {
    #grid-container{
         display: grid;
         grid-template-columns: auto;
         grid-template-rows: 1fr 5fr 3fr auto;
         grid-gap:10px;
     }
     #head-section{
         grid-column-start: 1;
         grid-column-end: -1;
         grid-row-start:1;
         grid-row-end: 2;
     }
    hr{
        display: none;
    }
     .sidenav {
         position: static;
         grid-column-start: 1;
         grid-column-end: -1;
         grid-row-start:1;
         grid-row-end:3;
         height: 220px;
         width: 100%;
         border-bottom: 5px solid white;
                
     }
     
     .form-group{
        
         display:block;
         float:left;
         
     }
    
     #button-content{
         grid-column-start: 1;
         grid-column-end: -1;
         grid-row-start:3;
         grid-row-end: 4;
         margin: 0px 10px 20px 10px;
                 
     }
   
     #main-content{
         grid-column-start: 1;
         grid-column-end: -1;
         grid-row-start:5;
         grid-row-end: auto;
     }
     .events{
         margin: 0px 20px 0px 20px;
     }
 } 
 

 @media (max-width:390px) and (min-width:250px) {
    #grid-container{
         display: grid;
         grid-template-columns: auto;
         grid-template-rows: 1fr 4fr 3fr auto;
         grid-gap:10px;
     }
     #head-section{
         grid-column-start: 1;
         grid-column-end: -1;
         grid-row-start:1;
         grid-row-end: 2;
     }
    hr{
        display: none;
    }
     .sidenav {
         position: static;
         grid-column-start: 1;
         grid-column-end: -1;
         grid-row-start:1;
         grid-row-end:3;
         height: 220px;
         width: 100%;
         border-bottom: 5px solid white;
                
     }
     
     .form-group{
        
         display:block;
         float:left;
         
     }
    
     #button-content{
         grid-column-start: 1;
         grid-column-end: -1;
         grid-row-start:3;
         grid-row-end: 4;
         margin: 10px 10px 20px 10px;
                 
     }
   
     #main-content{
         grid-column-start: 1;
         grid-column-end: -1;
         grid-row-start:5;
         grid-row-end: auto;
     }
     .events{
         margin: 0px 20px 0px 20px;
     }
 } 
 